# Import necessary libraries and load the dataset #

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
file_path = "C:\\Users\\zhi-n\\Documents\\FIT3163\\mimic-iv-note\\discharge_detail.csv"
data = pd.read_csv(file_path)

# Overview of Data #

In [3]:
data.head(10)

          note_id  subject_id field_name field_value  field_ordinal
0  10000032-DS-21    10000032     author         ___              1
1  10000032-DS-22    10000032     author         ___              1
2  10000032-DS-23    10000032     author         ___              1
3  10000032-DS-24    10000032     author         ___              1
4  10000084-DS-17    10000084     author         ___              1
5  10000117-DS-21    10000117     author         ___              1
6  10000117-DS-22    10000117     author         ___              1
7  10000248-DS-10    10000248     author         ___              1
8  10000560-DS-15    10000560     author         ___              1
9  10000764-DS-11    10000764     author         ___              1

# Data Pre-processing #

### Summary of Data ###

#### 1. Number of Records  ####

In [4]:
num_records, num_columns = data.shape

print(f"The dataset contains {num_records} records and {num_columns} columns.")

The dataset contains 331794 records and 5 columns.

#### 2. Data Types  ####

In [5]:
data_types = data.dtypes
print("Data types of each feature:")
print(data_types)

Data types of each feature:
note_id          object
subject_id        int64
field_name       object
field_value      object
field_ordinal     int64
dtype: object

# Data Analysis #

#### Checking for Inconsistencies  ####

In [6]:
unique_field_names = data['field_name'].unique()

print("Unique values in 'field_name':")
print(unique_field_names)

Unique values in 'field_name':
['author']

In [7]:
# Check for frequent appearance of the '___' placeholder
placeholder_count = (data['field_value'] == '___').sum()
print(f"\nOccurrences of the '___' placeholder in 'field_value': {placeholder_count}")

Occurrences of the '___' placeholder in 'field_value': 331794

#### Checking for missing values ####

In [14]:
missing_values = data.isnull().sum()

print("Missing values for each feature:")
print(missing_values)

Missing values for each feature:
note_id          0
subject_id       0
field_name       0
field_value      0
field_ordinal    0
dtype: int64

### **Since this table mainly provides auxiliary information about authors (anonymized), combining it with the discharge table in the future might provide more comprehensive insights. ###